
<%= semantic_form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.inputs do %>
    <%= f.input :title %>
	<%= f.input :image %>
	<%= f.input :content, :as => :ckeditor, :input_html => { :ckeditor => { :width =>800, :height => 400 } } %>
<% end %>
	<%= f.actions do %>
      <%= f.action :submit, :as => :button %>
      <%= f.action :cancel, :as => :link %>
    <% end %>
	
<% end %>
