<% provide(:title, "Blog") %>

<%= render 'layouts/header' %>
<div id="BlogContainer" class="container">
	<h1 id="BlogHeader" style="">Blog Posts</h1> <%= link_to 'New Blog', new_blog_path, class: "btn btn-default btn-lg", id: "NewBlog" %>



    <% @blogs.each do |blog| %>
	  <div class="Blog">
       <div class="row"><h1 class="BlogTitle" style="text-align:center"><%= link_to blog.title, blog %></h1></div>
	   <div class="row ImageRow"><img class="BlogImage" src="<%= blog.image %>"></div>
        <div class="row BlogContent"><%= sanitize blog.content %></div>
		<div class="row center-block blogactions" style="text-align:center;">
			<div class="col-md-1"><%= link_to 'Show', blog %></div>
			<div class="col-md-1"><%= link_to 'Edit', edit_blog_path(blog) %></div>
			<div class="col-md-1"><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></div>
		</div>
	  </div>
    <% end %>
</div>

<script>
	$(document).ready(function() {
	
		$(".BlogContent img").each(function() {
			var str = $(this).attr('src');
			var strarray = str.split("/");
			var strid = strarray[4];
			var strpath = (strarray[5].split("content_"))[1];
			$(this).wrap($("<a>" ,{
			href: "/uploads/ckeditor/pictures/" + strid + "/" + strpath,
			class: "blogpics"
			}));
		});
		$(".blogpics").fancybox();
});
</script>