<% provide(:title, @blog.title) %>
<% meta :keywords => @blog.keywords %>
<div id="BlogBack">
<%= render 'layouts/header' %>
<div id="BlogContainer" class="container">
<p id="notice"><%= notice %></p>
<div class="row blogtitle">
  <h1><%= @blog.title %></h1>
</div>

<div class="row blogfeatured center-block">
	<img src="<%= @blog.image %>">
</div>

<div class="row">
	<div class="col-md-12 blogcontent">
	    <%= sanitize @blog.content %>
	</div></br>
</div>
<div class="row keywordsRow">
	<% @blog.keywords.split(',').each do |k| %>
	  <div class="col-md-1 col-sm-1 col-xs-2 keywords">
		<%= k %>
	  </div>
	<% end %>
</div>
<div class="row actions">
   <% if user_signed_in? %>
	<%= link_to 'Edit', edit_blog_path(@blog) %> <% end %> |
	<%= link_to 'Back', blogs_path %>
</div>
</div>
<%= render 'layouts/footer' %>
</div>
<script>
	$(document).ready(function() {
		$(".blogcontent img").each(function() {
			var str = $(this).attr('src');
			var strarray = str.split("/");
			var strid = strarray[4];
			var strpath = (strarray[5].split("content_"))[1];
			$(this).wrap($("<a>" ,{
			href: "/uploads/ckeditor/pictures/" + strid + "/" + strpath,
			class: "blogpics"
			}));
		});
	$(".blogpics").fancybox();
});

</script>
