<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="It Got Weird is a hilarious sketch comedy series." />
  <%= metamagic %> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script>
		$("h1").hide().fadeOut(1000);
		$("h1").blur().fadeIn(1000);
		$(".row").hide().fadeOut(400);
		$(".row").blur().fadeIn(400);
		$("body").hide().fadeOut(400);
		$("body").hide().fadeIn(400);
  </script>
</head>
<body>
	<div class="container-fluid">
		<%= yield %>
	</div>
</body>
</html>
