<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="It Got Weird is a hilarious sketch comedy series." />
  <%= metamagic %> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
 <meta name="google-site-verification" content="mvWoHywJ7GEWd_LZGedMqu9Nq-P9Y4dMjF49zvRPJWI" />
 <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
<link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
</head>
<script>
$(document).ready(function(){
	$("body").css({ "visibility": "hidden" });
	var ua = navigator.userAgent,
	isMobileWebkit = /WebKit/.test(ua) && /Mobile/.test(ua);
	if (navigator.userAgent.match(/Trident\/7\./) || navigator.userAgent.match(/CrOS/i))
	{

	console.log("IE");
	$("#banner").attr({src: "/assets/weirdbannerIE.jpg"});
	$("#hero").height($("#banner").height());
	$(window).resize(function() {
		$("#hero").height($("#banner").height());
		$("#main").height($("#banner").height());
	});
	}
	else if(isMobileWebkit)
	{
	console.log("Mobile");
	$("#banner").attr({src: "/assets/weirdbannermobile.jpg"});
	$("#banner").attr({style: "position:relative;"});
	$("#hero").height($("#banner").height());
	$("#trailerheader").insertAfter( $("#slogan") );
	$(".title").remove();
	$("#deschead").css({ "border-image-width": "0 0 0 0", "padding-top": "10px" });
	$(window).resize(function() {
		$("#hero").height($("#banner").height());
		if($("#main").height() < 320){
		$("#main").height(320);
	}
	});
	}
	else
	{
	console.log("desktop");
	$("#hero").height($("#banner").height());
	$("#homenav").css({ "margin-top": -($("#homenav").outerHeight()) });
	var parallaxImages = [];
	$('.parallax').each(function(index) {
		var parallaxImage = {};
		parallaxImage.element = $(this);
		parallaxImage.height = parallaxImage.element.height();
		parallaxImages.push(parallaxImage);
		$.stellar( {hideDistantElements: false} );
	});
	$(window).resize(function() {
		$("#hero").height($("#banner").height());
		$.stellar('refresh');
	});
	}
		});
$(window).load(function() {
   $("body").css({ "visibility": "visible" }).hide().fadeIn('slow');

});

</script>
<body>
	<div class="container-fluid" data-no-turbolink>
		<%= yield %>
	</div>
</body>
</html>
